@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.root {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
}

.page {
  min-width: 320px;
	max-width: 1280px;
	margin: 0 auto 0;
  padding: 0;
	font-family: Inter, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

.main {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  padding-inline: 18px;
}


a:focus,
button:focus,
input:focus {
  outline-offset: 5px;
  outline-color: #2be080;
  outline:none
}


@media screen and (max-width: 319px) {
  .page {
    position: relative;
  }
}

@media (min-width: 768px) {
  .section {
    padding-inline: 30px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-inline: 70px;
  }
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}
